.header {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.header__title img {
    width: 200px;
    height: auto;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.firstview {
   position: relative;
   margin-bottom: 100px;
}

.firstview__img {
    display: block;
    width: 50%;
    margin: 0 0 0 auto;
}

.firstview__title {
    position: absolute;
    top: 30%;
    left: 32%;
}

.firstview__title-item {
    line-height: 100px;
    font-family: 'Indie Flower', cursive;
    font-size: 80px;
    color: rgb(141, 0, 0);
}

.firstview__title-cat__color {
    color: #008888;
}

.firstview__title-cat {
    margin-top: 90px;
    font-size: 30px;
    color: rgb(171, 3, 3);
}

.firstview__title-info {
    line-height: 30px;
    font-size: 20px;
    color: gray;
}

.main__newsarea {
    width: 600px;
    margin: auto;
}

.main__common-sub {
    font-family: 'Indie Flower', cursive;
    color: rgb(171, 3, 3);
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 100px;
}

.main__common-title {
    font-size: 26px;
    color: gray;
}

.newsarea__ul {
    list-style: none;
    margin-top: 80px;
    border-top: #ddd;
}

.newsarea__list {
    border-bottom: 2px solid #ddd;
    line-height: 80px;
}

.main__newsarea-label {
    margin: 0 10px;
    padding: 3px 10px;
    background: rgb(171, 3, 3);
    color: white;
    border-radius: 15px;
}

.main__aboutarea {
    text-align: center;
    margin-top: 100px;
    background-color: #efefef;
}

.main__aboutarea-text {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.main__aboutarea-img {
    width: 400px;
    margin: 0 0 0 100px;
}

.main__aboutarea-img img {
    width: 100%;
}

.main__aboutarea-text-item {
    width: 20%;
    line-height: 28px;
    margin-top: 30px;
}

.main__service-content {
    display: flex;
    max-width: 600px;
    background: rgb(240, 0, 0);
    margin: 0 auto;
    }

.main__service-img img {
    width: 200px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.main__service-content-text1 {
    flex-wrap: wrap;
    color: white;
}

